.root {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}