.root {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    padding: 10px;
}