form {
    max-width: 400px;
}

form>* {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-footer {
    display: flex;
    justify-content: flex-end;
}

.form-footer :first-child {
    margin-right: 10px;
}